<nav class="transparent">
    <div class="nav-wrapper container">

        <a href="#!" class="brand-logo center">Covid-Help</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/">Home</a></li>
            <li><a href="/find-or-donate-blood">Find or Donate Plasma</a></li>
            <li><a href="/helpline">Helpline</a></li>
            <li><a href="/donate-money">Donate Money</a></li>
            <li><a href="/Diagnose">Run Diagnosis</a></li>
            <li><a href="/find-bed-or-oxygen">Find Bed or Plasma</a></li>
        </ul>
    </div>
</nav>