<h2 class="white-text">Admin Authentication</h2>

<form action="/fetchadmindata" method="POST">
 <div class="row">
            <div class="input-field col s12">
                <input required id="code" type="password" name="code" class="validate white-text">
                <label for="code">Special Identity code</label>
            </div>

            <button type="submit" class="btn waves-effect btn__home indigo accent-1">Auithenticate</button>
        </div>
</form>
 