<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Helpline</title>
    <!--<link rel="stylesheet" href="./help.css"/>-->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </head>
<body>
  
</div>-->
<!--<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 50%;
      align-items: center;
    }
    
    td, th {
      border: 1px solid black;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: white;
    }
    .A{
      text-align: center;
    }
    </style>-->
    <!--<style>
      table {
  overflow: hidden;
  position: absolute;
  left: 30%;
  right: 50%;
  width: 40%;
  height: 380px;
}

td, th {
  padding: 6px;
  position: relative;
  outline: 0;
  border: 1px solid black;
}

body:not(.nohover) tbody tr:hover {
  background-color: lightblue;
}

td:hover::after,
thead th:not(:empty):hover::after,
td:focus::after,
thead th:not(:empty):focus::after { 
  content: '';  
  height: 10000px;
  left: 0;
  position: absolute;  
  top: -5000px;
  width: 100%;
  z-index: -1;
}

td:hover::after,
th:hover::after {
  background-color: lightblue;
}

td:focus::after,
th:focus::after {
  background-color: lightblue;
}

/* Focus stuff for mobile */
td:focus::before,
tbody th:focus::before {
  background-color: lightblue;
  content: '';  
  height: 100%;
  top: 0;
  left: -5000px;
  position: absolute;  
  width: 10000px;
  z-index: -1;
}-->



    </style>
    <style>
      .centered{
        /*background-image: url(http://realestatemarket.com.mx/images/2021/03-marzo/0403/Embarazadas_y_Covid-19_en_Mxico-_Omisiones_de_la_4T_retos_y_esperanza_.gif);*/
        width: 80%;
        overflow: hidden;
        background-color: whitesmoke;
        position: absolute;
        left: 10%;
        box-shadow: 20px lightblue;
        border-radius: 25px 25px 25px 25px;
        transition: 1s;
      }
      .centered:hover{
        transform: scale(1.1);
      }
      .A{
        color: black;
      }
    </style>
    </head>
    <body>
        <table class="centered ">
          <thead class="A">
            <tr>
            <th colspan="2" class="A">STATE HELPLINE NUMBERS</th>
          </tr>
        </thead>
            <thead class="A">
              
              <tr>
                  <th>State/UT</th>
                  <th>Helpline No.</th>
                  
              </tr>
            </thead>
    
            <tbody class="A">
              <tr>
                <td>Andaman & Nicobar	</td>
                <td>03192-232102</td>
                
                
              </tr>
              <tr>
                <td>Andhra Pradesh	</td>
                <td>0866-2410978</td>
                </tr>
                <td>Arunachal Pradesh</td>
                <td>9436055743</td>
            </tr>
                <td>Assam	</td>
                <td>6913347770</td>
            </tr>
                <td>Bihar	</td>
                <td>104</td>
            </tr>
                <td>Chandigarh	</td>
                <td>9779558282</td>
            </tr>
                <td>Chhattisgarh	</td>
                <td>104</td>
                </tr>
                <td>Dadra Nagar Haveli	</td>
                <td>104</td>
              </tr>
                <td>Delhi	</td>
                <td>011-22307145</td>
              </tr>
                <td>Goa	</td>
                <td>104</td>
              </tr>
                <td>Gujarat	</td>
                <td>104</td>
              </tr>
                <td>Haryana	</td>
                <td>8558893911</td>
              </tr>
                <td>Himachal Pradesh</td>
                <td>104</td>
              </tr>	
                    <td>Jammu	</td>
                    <td>01912520982</td>
                  </tr>
                    <td>Karnataka	</td>
                    <td>104</td>
                  </tr>
                    <td>Jharkhand	</td>
                    <td>104</td>
                  </tr>
                    <td>Kashmir	</td>
                    <td>01982256462</td>
                  </tr>
                    <td>Kerala	</td>
                    <td>01982256462</td>
                  </tr>
                    <td>Ladakh	</td>
                    <td>01982256462</td>
                  </tr>
                    <td>Lakshadweep	</td>
                    <td>104</td>
                  </tr>
                    <td>Madhya Pradesh	</td>
                    <td>104</td>
                  </tr>
                    <td>Maharashtra	</td>
                    <td>3852411668</td>
                  </tr>
                    <td>Manipur	</td>
                    <td>3852411668</td>
                  </tr>
                    <td>Meghalaya	</td>
                    <td>108</td>
                  </tr>
                    <td>Mizoram</td>
                    <td>102</td>
                  </tr>
                    <td>Nagaland	</td>
                    <td>7005539653</td>
                  </tr>
                    <td>Odisha	</td>
                    <td>9439994859</td>
                  </tr>
                    <td>Puducherry	</td>
                    <td>104</td>
                  </tr>
                    <td>Punjab	</td>
                    <td>104</td>
                  </tr>
                    <td>Rajasthan	</td>
                    <td>0141-2225624</td>
                  </tr>
                    <td>Sikkim	</td>
                    <td>104</td>
                  </tr>
                    <td>Tamil Nadu	</td>
                    <td>044-29510500</td>
                  </tr>
                    <td>Telangana	</td>
                    <td>104</td>
                  </tr>
                    <td>Tripura	</td>
                    <td>0381-2315879</td>
                  </tr>
                    <td>Uttarakhand	</td>
                    <td>104</td>
                  </tr>
                    <td>Uttar Pradesh	</td>
                    <td>18001805145</td>
                  </tr>
                    <td>West Bengal</td>
                    <td>1800313444222, 03323412600</td>
                
                          </tr>
              
            </tbody>
          </table>
                
</body>
</html>
