
  
</div>-->




    </style>
    <style>
      .centered{
        
        width: 80%;
        overflow: hidden;
        background-color: whitesmoke;
        position: absolute;
        left: 10%;
        box-shadow: 20px lightblue;
        border-radius: 25px 25px 25px 25px;
      }
     
      .A{
        color: black;
      }
    </style>
    </head>
    <body>
        <table class="centered ">
          <thead class="A">
            <tr>
            <th colspan="2" class="A">STATE HELPLINE NUMBERS</th>
          </tr>
        </thead>
            <thead class="A">
              
              <tr>
                  <th>State/UT</th>
                  <th>Helpline No.</th>
                  
              </tr>
            </thead>
    
            <tbody class="A">
              <tr>
                <td>Andaman & Nicobar	</td>
                <td>03192-232102</td>
                
                
              </tr>
              <tr>
                <td>Andhra Pradesh	</td>
                <td>0866-2410978</td>
                </tr>
                <td>Arunachal Pradesh</td>
                <td>9436055743</td>
            </tr>
                <td>Assam	</td>
                <td>6913347770</td>
            </tr>
                <td>Bihar	</td>
                <td>104</td>
            </tr>
                <td>Chandigarh	</td>
                <td>9779558282</td>
            </tr>
                <td>Chhattisgarh	</td>
                <td>104</td>
                </tr>
                <td>Dadra Nagar Haveli	</td>
                <td>104</td>
              </tr>
                <td>Delhi	</td>
                <td>011-22307145</td>
              </tr>
                <td>Goa	</td>
                <td>104</td>
              </tr>
                <td>Gujarat	</td>
                <td>104</td>
              </tr>
                <td>Haryana	</td>
                <td>8558893911</td>
              </tr>
                <td>Himachal Pradesh</td>
                <td>104</td>
              </tr>	
                    <td>Jammu	</td>
                    <td>01912520982</td>
                  </tr>
                    <td>Karnataka	</td>
                    <td>104</td>
                  </tr>
                    <td>Jharkhand	</td>
                    <td>104</td>
                  </tr>
                    <td>Kashmir	</td>
                    <td>01982256462</td>
                  </tr>
                    <td>Kerala	</td>
                    <td>01982256462</td>
                  </tr>
                    <td>Ladakh	</td>
                    <td>01982256462</td>
                  </tr>
                    <td>Lakshadweep	</td>
                    <td>104</td>
                  </tr>
                    <td>Madhya Pradesh	</td>
                    <td>104</td>
                  </tr>
                    <td>Maharashtra	</td>
                    <td>3852411668</td>
                  </tr>
                    <td>Manipur	</td>
                    <td>3852411668</td>
                  </tr>
                    <td>Meghalaya	</td>
                    <td>108</td>
                  </tr>
                    <td>Mizoram</td>
                    <td>102</td>
                  </tr>
                    <td>Nagaland	</td>
                    <td>7005539653</td>
                  </tr>
                    <td>Odisha	</td>
                    <td>9439994859</td>
                  </tr>
                    <td>Puducherry	</td>
                    <td>104</td>
                  </tr>
                    <td>Punjab	</td>
                    <td>104</td>
                  </tr>
                    <td>Rajasthan	</td>
                    <td>0141-2225624</td>
                  </tr>
                    <td>Sikkim	</td>
                    <td>104</td>
                  </tr>
                    <td>Tamil Nadu	</td>
                    <td>044-29510500</td>
                  </tr>
                    <td>Telangana	</td>
                    <td>104</td>
                  </tr>
                    <td>Tripura	</td>
                    <td>0381-2315879</td>
                  </tr>
                    <td>Uttarakhand	</td>
                    <td>104</td>
                  </tr>
                    <td>Uttar Pradesh	</td>
                    <td>18001805145</td>
                  </tr>
                    <td>West Bengal</td>
                    <td>1800313444222, 03323412600</td>
                
                          </tr>
              
            </tbody>
          </table>
                

