<br>
<a href="/"><button class="waves-effect btn btn__home transparent"
        style="border: 2px solid rgb(80, 11, 241)">Home</button></a>
<h2 class="white-text">Thanks for Reaching out! You can except a call or mail very soon.</h2>
<div style="background-color: rgb(255, 225, 179); border-radius: 25px 25px 25px 25px;padding:2%;">
    <h4 class="black-text">Run Diagnosis</h4>
    <h6 class="black-text">In the Mean time we reach-out to You! Please go through the diagnosis process by entering
        your current health details and then after
        we will come up with some quick help i.e some home remedies.</h6>
    <a href="/diagnose"><button class="waves-effect black-text  transparent btn btn__home"
            style="border: 2px solid rgb(241, 103, 11)">Go to Diagnose</button></a>

</div>

<div style="background-color: rgb(233, 184, 255); border-radius: 25px 25px 25px 25px;padding:2%;margin-top:5%;">


    <h4 class="black-text">Govenment helpline</h4>
    <h6 class="black-text">Government is there to help us in every possible way! So here we are listing some government
        helpline numbers if your need is urgent. Stay Safe Stay Healthy</h6>
    <a href="/helpline"><button class="waves-effect black-text transparent btn btn__home"
            style="border: 2px solid rgb(168, 11, 241)">Go
            to Helpline</button></a>

</div>